POSTGRES_DB=mykare_appointments
POSTGRES_USER=mykare
POSTGRES_PASSWORD=mykare_password
POSTGRES_PORT=5432

KAFKA_BROKER=localhost:9092
APPOINTMENT_EVENTS_TOPIC=appointment-events

JWT_SECRET=ARj4ptWyFeD26g9nQ8fjeTjLRKjjTcRxzstEfgC6cy8