KAFKA_BROKER=localhost:9092
APPOINTMENT_EVENTS_TOPIC=appointment-events
KAFKA_CONSUMER_GROUP=notification-worker

POSTGRES_HOST=localhost
POSTGRES_PORT=5433
POSTGRES_DB=mykare_appointments
POSTGRES_USER=mykare
POSTGRES_PASSWORD=mykare_password